<div class="container-fluid" style="padding-top: 1rem; padding-bottom: 2px; background-color: black; color: white;">
	<p style="text-align: center">
		&copy; Petsgram 2020
	</p>
</div>
</body>
</html>