<%- include("./partials/header") %>

<div class="container" style="margin-top: 4rem; margin-bottom: 4rem; height: 600px;">
	<h5>
		This application is a personal project.
	</h5>
	<h5>
		About Website
	</h5>
	<p>
		A Node.js application with Express routing and database maintained on MongoDB. Frontend designed with CSS and Bootstrap 4 Contains photos of different pet animals with images. Consists of:
	</p>
	<ul>
		<li>Landing Page - Page on which a visitor lands</li>
		<li>Home Page -  Page containing the collection of pet pictures</li>
		<li>Show Page - Page displaying the picture of each individual pet</li>
		<li>About Page - This page</li>
		<li>Contact Page - Developer Contact details</li>
	</ul>
	
	<p>
		All images used in the website are free and legal to use. Taken from 
		<a target="_blank" href="https://www.unsplash.com">Unsplash</a>
	</p>
	<p>
		The website is fully optimized for mobile view.
	</p>
</div>

<%- include("./partials/footer") %>