<%- include("./partials/header") %>

<div class="container" style="margin-top: 4rem; margin-bottom: 4rem; height: 600px;">
	<h2>
		Contact Developer
	</h2>
	<br>
	<h4>
		Email:
	</h4>
	<p>
		venkatesh46.ch59@gmail.com
	</p>
	<br>
	<h4>
		Social Media
	</h4>
	<br>
	<table style="width:50%">
  <tr>
    <th>Social</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Github</td>
	<td><a target="_blank" href="https://www.github.com/venkatexh">Go</a></td>
  </tr>
  <tr>
	<td>LinkedIn</td>
	<td><a target="_blank" href="https://www.linkedin.com/in/venkateshch59">Go</a></td>
  </tr>
  <tr>
	<td>Facebook</td>
	<td><a target="_blank" href="https://www.facebook.com/venkatesh.chakrabarty">Go</a></td>
  </tr>
  <tr>
	<td>Instagram</td>
	<td><a target="_blank" href="https://www.instagram.com/venkatexh">Go</a></td>
  </tr>
</table>
</div>

<%- include("./partials/footer") %>