<%- include("./partials/header") %>

<div class="my-container">
	<h5>
		Pet Type: <%= pet.name %>
	</h5>
	<h5>
		Image
	</h5>
	<div>
		<img src="<%= pet.imgUrl %>">
	</div>
	
		<a href="/home"><p>Go back</p></a>
	

<%- include("./partials/footer") %>