#img-box {
	position: relative;
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	margin-bottom: 2rem;
	background-color: #d5dde8;
	border-radius: 2%
}

#img-box img {
	max-width: 100%;
	transition: all 0.5s ease;
	transform: scale(1);
}

#img-box:hover {
	transform: scale(1.1);
}


.my-col {
	text-align: center
}